header {
    background-image: url(/img/v1016-b-09.jpg);
    padding-top: 400px;
    padding-bottom: 425px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.header-podtekst {
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding-bottom: 25px;
}

.header-glowny {
    font-size: 350%;
    line-height: 3.2rem;
    margin-bottom: 30px;
    font-weight: 700;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

nav {
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

nav img {
    transition: all 0.3s ease-in-out;
    height: 3rem;
}
.navbar-rozwiniety{
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
    mask-image: linear-gradient(
    to bottom,
    black 50%,
    rgba(0,0,0,0) 100%
  );
}
.navbar-zwiniety {
    transition: all 0.3s ease-in-out;
    background-color: #212529;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navbar-zwiniety img{
    transition: all 0.3s ease-in-out;
    height: 2.5rem;
}

.tekst-sekcji {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding-top: 50px;
    font-weight: 700;
    line-height: 30px;
}

.tekst-podsekcji {
    font-weight: 150;
    font-size: 110%;
    padding-bottom: 90px;
}


#portfolio img {
    z-index: 5;
    width: auto;
    height: auto;
}

#portfolio {
    z-index: 5;
    padding-top: 55px;
}

#o-mnie img {
    clip-path: circle();
}
article {
    padding-bottom: 50px;
}

#o-mnie {
    padding-top: 50px;
    padding-bottom: 15px;
}

#kontakt {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.kolo-scroll{
    z-index: 1;
    display: block;
    width: 420px;
    height: 10px;
    position: absolute;
    translate: -50% -50%;
    top: 106%;
    right: 1%;
    border-radius: 50%;
    background-color: transparent;
    animation: obrot 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc((var(--scroll)*3)*-1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.kolo-scroll div{
    display: block;
    background-color: #5942ff;
    width: 85px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 0%;
    translate: -100% -50%;
    
    
}
.kolo2{
    z-index: 1;
    display: block;
    width: 420px;
    height: 420px;
    position: absolute;
    translate: -50% -50%;
    top: 106%;
    right: 1%;
    border-radius: 50% 50% 0 0;
    background-color: #212529;
    clip-path: rect(0% 100% 40% 0%);
}
@keyframes obrot {
    100%{
        transform: rotate(180deg);
    }
}

.animacja-scroll{
    animation: pojawienie linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes pojawienie {
    0%{
        opacity: 0;
        scale: 0.7;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}
.pole-tekstowe
{
    margin-top: 15px;
}

@media only screen and (max-width: 991px) {

    header {
        padding-top: 250px;
        padding-bottom: 370px;
    }

    #mainNav {
        transition: margin-bottom 2s ease-in-out 0.5s;
        transition-duration: 1s;
        background-color: #212529;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .kolo-scroll{
        display: none;
    }
    .kolo-scroll div{
        display: none;
    }
    .kolo2{
        display: none;
    }
    

}
@media only screen and (max-width: 1904px) {
.kolo2{
        display: none;
    }
     .kolo-scroll{
        display: none;
    }
    .kolo-scroll div{
        display: none;
    }
}
@media only screen and (min-width: 1950px) {
    .kolo2{
        display: none;
    }
     .kolo-scroll{
        display: none;
    }
    .kolo-scroll div{
        display: none;
    }
}

@media only screen and (max-height: 920px) {
.kolo2{
        display: none;
    }
     .kolo-scroll{
        display: none;
    }
    .kolo-scroll div{
        display: none;
    }
}
@media only screen and (min-height: 960px) {
    .kolo2{
        display: none;
    }
     .kolo-scroll{
        display: none;
    }
    .kolo-scroll div{
        display: none;
    }
}